@use "../../variables.scss" as *;

.section {
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	min-height: 100vh;
	user-select: none;

	.wrapper {
		width: 100%;
		max-width: $website-maxWidth;
		min-height: 100vh;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		color: white;

		font-family: Gilroy;

		.overview {
			width: 100%;
			padding-top: 25px;

			p {
				font-size: 76px;
				text-transform: uppercase;
				text-align: left;
			}
		}

		.container {
			display: flex;
			flex-direction: row-reverse;
			width: 100%;
			gap: 70px;
			border-top: 1px solid rgb(99, 99, 99);
			padding-top: 40px;

			height: 700px;

			.left {
				flex: 4;
				display: flex;
				flex-direction: column;
				img {
					width: 100%;
					padding-top: 0px;
				}
				.lefttext {
					margin-top: 10px;
					font-size: 15px;
					color: rgb(124, 124, 124);
				}
			}
			.right {
				flex: 5;

				.stats {
					display: flex;

					border-bottom: 1px solid rgb(99, 99, 99);
					justify-content: space-between;

					.block {
						display: flex;
						flex-direction: column;
						gap: 15px;
						padding-bottom: 20px;

						.num {
							color: orange;
							font-size: 34px;
							font-weight: 400;
						}
						.label {
							text-transform: uppercase;
							font-size: 18px;
							color: gray;
							font-weight: 400;
						}
					}
				}
				.topTitle {
					margin-top: 30px;
					font-size: 34px;
					width: 100%;
					font-weight: 300;
				}

				.wrapBottom {
					margin-top: 20px;
					display: flex;
					flex-direction: row-reverse;
					gap: 50px;
					height: 220px;

					.textBottom {
						flex: 1;
						font-size: 17px;
						color: gray;
						line-height: 22px;
					}
				}
				.rightBottom {
					display: flex;
					flex-direction: column;
					justify-content: flex-end;

					width: fit-content;
					cursor: pointer;

					.linkNextSection {
						color: rgb(84, 84, 219);
						font-size: 16px;
						margin: 2px;
						padding: 0;

						width: fit-content;
					}
				}
			}
		}
	}
}

@media (max-width: 1240px) {
	.section {
		.wrapper {
			.container {
				.left {
					flex: 1;
				}
				.right {
					flex: 2;
					.wrapBottom {
						height: 350px;
					}
				}
			}
		}
	}
}
