@use "../../variables.scss" as *;

.section {
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	min-height: 100vh;
	user-select: none;

	.wrapper {
		width: 100%;
		max-width: $website-maxWidth;
		min-height: 100vh;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		color: white;

		font-family: Gilroy;

		.overview {
			padding-top: 25px;
			width: 100%;

			p {
				font-size: 76px;
				text-transform: uppercase;
				text-align: left;
			}
		}

		.container {
			display: flex;
			width: 100%;
			gap: 50px;
			border-top: 1px solid rgb(99, 99, 99);
			padding-top: 40px;

			height: 700px;

			.left {
				flex: 4;
				display: flex;
				flex-direction: column;
				img {
					padding: 20px;
					width: 95%;
					padding-top: 0px;
				}
				.lefttext {
					margin-top: 10px;
					font-size: 15px;
					color: rgb(124, 124, 124);
					margin-left: 20px;
				}
			}
			.right {
				flex: 5;

				.stats {
					display: flex;

					border-bottom: 1px solid rgb(99, 99, 99);
					justify-content: space-between;

					.block {
						display: flex;
						flex-direction: column;
						gap: 15px;
						padding-bottom: 20px;

						.num {
							color: orange;
							font-size: 34px;
							font-weight: 400;
						}
						.label {
							text-transform: uppercase;
							font-size: 18px;
							color: gray;
							font-weight: 400;
						}
					}
				}
				.topTitle {
					margin-top: 30px;
					font-size: 34px;
					width: 70%;
					font-weight: 300;
				}
				.wrapBottom {
					margin-top: 90px;
					display: flex;
					gap: 50px;
					height: 275px;

					.leftBottom {
						flex: 5;

						display: flex;
						flex-direction: column;
						justify-content: flex-end;

						height: 100%;

						.textBottom {
							font-size: 17px;
							color: gray;
							line-height: 22px;
						}
					}
					.rightBottom {
						flex: 4;
						display: flex;
						flex-direction: column;
						justify-content: flex-end;

						margin-bottom: 15px;

						.linkNextSection {
							width: fit-content;

							color: rgb(84, 84, 219);
							font-size: 16px;
							margin: 2px;
							padding: 0;
							cursor: pointer;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 1240px) {
	.section {
		.wrapper {
			.container {
				.left {
					flex: 3;
				}
				.right {
					flex: 5;

					.wrapBottom {
						gap: 10px;

						.leftBottom {
							flex: 5;
						}
						.rightBottom {
							flex: 1;
						}
					}
				}
			}
		}
	}
}
