@use "../../variables.scss" as *;

.section {
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	user-select: none;

	margin-top: 400px;
	margin-bottom: 400px;
	min-height: 100vh;

	.wrapper {
		width: 100%;
		max-width: $website-maxWidth;
		min-height: 100vh;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		gap: 20px;

		.stripe {
			display: flex;

			transition: all 1s ease;

			width: 100%;
			color: rgb(27, 92, 235);

			.container {
				display: flex;
				gap: 20px;

				.texts {
					display: flex;
					flex-direction: column;

					.header {
						font-size: 60px;
						font-family: Oswald;
						color: white;
						line-height: 65px;

						max-width: 400px;
					}
					.sub {
						margin-top: 10px;
						font-size: 20px;
						font-family: Gilroy;
						font-weight: 300;
						color: white;
						max-width: 500px;
					}
				}
			}
			.line {
				position: relative;
				.scene {
					position: absolute;

					width: 100px;
					height: 100px;

					transition: all 1s ease;
					transform: translate(-50%, -100%);
					opacity: 1;
				}

				.bigZone {
					position: absolute;

					width: 300px;
					height: 300px;
					transform: translate(-50%, -65%);

					pointer-events: none;
					z-index: 10;
				}

				.zone {
					position: absolute;

					width: 25px;
					height: 25px;

					transform: translate(-45%, -50%);

					cursor: pointer;
					z-index: 5;
				}

				.ball {
					position: absolute;

					width: 9px;
					height: 9px;
					border-radius: 50%;
					background-color: white;

					transform: translate(-37%, -50%);
				}

				.ballAnimate {
					position: absolute;

					width: 9px;
					height: 9px;
					border-radius: 50%;
					background-color: white;

					transform: translate(-37%, -50%);
					pointer-events: none;

					transition: all 1s ease;
					opacity: 1;

					$c: rgb(255, 255, 255);
					$c1: rgba($c, 1);
					$c2: rgba($c, 0.3);
					$c3: rgba($c, 0.3);
					$c4: rgba($c, 0);
					$dx: 5px;

					@mixin sh1 {
						box-shadow: 0 0 0 0px $c1, 0 0 0 $dx $c2, 0 0 0 2 * $dx $c3;
					}
					@mixin sh2 {
						box-shadow: 0 0 0 $dx $c2, 0 0 0 2 * $dx $c3, 0 0 0 1.5 * $dx $c4;
					}

					animation: waves 1.5s infinite linear;

					@include sh1();

					@keyframes waves {
						from {
							@include sh1();
						}
						to {
							@include sh2();
						}
					}
				}
				.vert {
					width: 2px;
					height: 100%;
					background-color: white;
				}
			}
		}
	}
}
