@use "../../variables.scss" as *;

.container {
	width: 100px;
	height: 100px;
	position: relative;
	left: 2px;

	.img1 {
		position: absolute;
		top: 5px;
		left: 6px;
		width: 88px;
		height: 88px;
	}

	.img2 {
		position: absolute;
		top: 5px;
		left: 6px;
		width: 88px;
		height: 88px;
	}

	.img3 {
		position: absolute;
		top: 5px;
		left: 6px;
		width: 88px;
		height: 88px;
	}
}
