@use "../../variables.scss" as *;

.section {
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	background-color: red;

	min-height: 100vh;
}
