@use "../../variables.scss" as *;

.section {
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	margin-top: 300px;
	min-height: 100vh;

	font-family: Gilroy;
	color: white;

	.wrapper {
		position: relative;
		width: 100%;
		max-width: $website-maxWidth;
		min-height: 100vh;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 30px;
		
		overflow: hidden;

		.container {
			transform: scale(1.2);
			width: 900px;
			height: 800px;

			overflow: hidden;

			.top {
				width: 100%;
				display: flex;
				justify-content: space-between;

				.options {
					padding: 20px;
					font-size: 40px;
				}

				.arrows {
					width: 180px;
					padding: 20px;
					margin-bottom: 3px;
					display: flex;

					align-items: flex-end;

					user-select: none;

					transform: translateX(0px);

					gap: 15px;

					.arrowLeft {
						width: 45px;
						transform: translateX(0px);
						transition: all 1s ease;

						cursor: pointer;

						img {
							width: 100%;
						}
					}

					.idx {
						text-align: right;
						width: 50px;
						letter-spacing: 5px;
					}

					.arrowRight {
						width: 45px;

						transform: translateX(0px);
						transition: all 1s ease;
						cursor: pointer;

						img {
							width: 100%;
							transform: rotate(180deg) translateY(-0.5px);
						}
					}

					.arrowLeft:hover {
						transform: translateX(-5px);
					}

					.arrowRight:hover {
						transform: translateX(5px);
					}
				}
			}
			.bottom {
				display: flex;
				justify-content: center;

				margin-top: 50px;

				.slider {
					display: flex;
					gap: 30px;
					transition: all 1.1s ease;

					transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);

					.element {
						width: 200px;

						transition: all 1s ease;
						transition-delay: 0.09s;

						display: flex;
						flex-direction: column;
						overflow: hidden;

						.imgContainer {
							display: flex;
							justify-content: center;
							align-items: center;

							width: 100%;
							height: 100%;

							border-radius: 10px;
							height: fit-content;
							overflow: hidden;

							img {
								width: 100%;
								height: 100%;
							}
						}
						.texts {
							.header {
								text-align: center;
								font-size: 40px;
								display: block;
								width: max-content;

								transition: all 1s ease;
								transition-delay: 0.1s;
								transform: translateY(7px);
							}
							.list {
								margin-top: 10px;

								display: flex;
								flex-direction: column;

								.elemText {
									margin-top: 12px;
									font-size: 13px;

									width: 100%;

									transition: all 1s ease, width 1s ease 1s;
									color: white;

									white-space: nowrap;
									text-overflow: ellipsis;
								}
							}

							.button {
								margin-top: 20px;

								padding: 10px 15px;
								border: 1px solid rgb(173, 173, 173);
								border-radius: 2px;
								font-size: 14px;

								width: fit-content;

								transition: all 1s ease 0.3s, background-color 0.2s ease, border 0.3s ease 0.075s;

								opacity: 1;

								cursor: pointer;
							}

							.button:hover {
								background-color: rgba(255, 255, 255, 0.158);
								border: 1px solid rgb(94, 94, 94);
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 1000px) {
	.section {
		.wrapper {
			.container {
				transform: scale(0.85);
			}
		}
	}
}

@media (max-width: 600px) {
	.section {
		.wrapper {
			.container {
				transform: scale(0.5);


			}
		}
	}
}
