@font-face {
	font-family: "Oswald";
	src: url("./Oswald-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Oswald";
	src: url("./Oswald-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}
