@use "../../variables.scss" as *;

.section {
	pointer-events: none;
	position: absolute;
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	user-select: none;

	transition: all 1s ease;

	height: 100vh;
	user-select: none;
	pointer-events: none;

	.wrapper {
		pointer-events: none;
		position: relative;
		max-width: $website-maxWidth;
		min-height: 100vh;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		width: 100%;
		height: 100%;
		pointer-events: none;

		.container {
			pointer-events: none;

			width: 100%;
			height: 100%;

			display: grid;

			grid-template-columns: 300px 3fr 300px;

			color: white;

			transition: all 1s ease;

			.left {
				pointer-events: none;
				position: relative;
				bottom: 20px;

				text-align: left;
				font-family: PlayfairDisplay;
				font-weight: 500;
				font-size: 25px;
				text-transform: uppercase;
				letter-spacing: 10px;

				display: flex;
				flex-direction: column;
				justify-content: center;

				max-width: 300px;
				pointer-events: none;

				.leftText {
					pointer-events: none;
					position: relative;
					display: flex;
					justify-content: flex-start;
					p {
						pointer-events: none;
						cursor: pointer;

					}
				}
			}

			.center {
				pointer-events: none;

				margin: 0;
				padding: 0;
				display: flex;
				text-align: center;
				flex-direction: column;
				justify-content: flex-start;
				align-items: center;

				padding-top: 190px;
				// width: 100%;

				.type {
					pointer-events: none;

					margin: 0;
					padding: 0;
					font-family: Oswald;
					font-size: 28px;
					font-weight: 300;
					text-align: center;
					text-transform: uppercase;

					letter-spacing: 12px;
					transform: translateX(4%);
				}
				.name {
					pointer-events: none;

					margin: 0;
					padding: 0;
					margin-top: 5px;
					line-height: 100px;

					font-family: PlayfairDisplay;
					font-size: 113px;
					text-transform: uppercase;
					letter-spacing: 10px;
				}
				.line {
					pointer-events: none;

					margin-top: 20px;
					width: 110px;
					height: 10px;
					border-bottom: 1px solid rgb(167, 167, 167);
				}
				.annotation {
					pointer-events: none;

					margin: 0;
					padding: 0;
					text-align: center;

					margin-top: 20px;

					width: 500px;
					font-family: Oswald;
					font-weight: 300;
					font-size: 15px;
					color: rgb(243, 243, 243);
					line-height: 30px;
				}
				// .getStarted {
				// 	pointer-events: none;

				// 	margin-top: 75px;

				// 	padding: 10px 20px;
				// 	border-radius: 20px;
				// 	font-size: 14px;

				// 	background-color: rgb(255, 255, 255);
				// 	text-transform: uppercase;

				// 	color: black;
				// 	font-family: Gilroy;

				// 	cursor: pointer;
				// }
			}
			.right {
				pointer-events: none;
				position: relative;
				bottom: 20px;

				text-align: right;
				font-family: PlayfairDisplay;
				font-weight: 500;
				font-size: 25px;
				text-transform: uppercase;
				letter-spacing: 10px;

				display: flex;
				flex-direction: column;
				justify-content: center;

				max-width: 300px;
				pointer-events: none;

				.rightText {
					pointer-events: none;
					position: relative;
					// cursor: pointer;
					display: flex;
					justify-content: flex-end;

					p {
						pointer-events: none;
						cursor: pointer;
					}
				}
			}
		}
	}
}

@keyframes upDown {
	0%,
	100% {
		pointer-events: none;
		transform: translateY(10px);
	}

	50% {
		pointer-events: none;
		transform: translateY(20px);
	}
}

@media (max-width: 1200px) {
	.section {
		.wrapper {
			.container {
				grid-template-columns: 200px 3fr 200px;

				// .left {
				// }
				// .center {
				// }
				// .right {
				// }
			}
		}
	}
}

@media (max-width: 900px) {
	.section {
		.wrapper {
			.container {
				grid-template-columns: 1fr 3fr 1fr;

				.center {
					.type {
						font-family: Oswald;
						font-size: 18px;
					}
					.name {
						line-height: 70px;

						// margin-top: 0;
						font-family: PlayfairDisplay;
						font-size: 70px;

						letter-spacing: 10px;
					}

					.annotation {
						margin-top: 20px;

						width: 300px;
						font-family: Oswald;

						font-size: 15px;

						line-height: 30px;
					}
				}
			}
		}
	}
}

@media (max-height: 720px) {
	.section {
		.wrapper {
			.container {
				grid-template-columns: 1fr 3fr 1fr;

				.center {
					.type {
						font-family: Oswald;
						font-size: 18px;
					}
					.name {
						line-height: 70px;

						// margin-top: 0;
						font-family: PlayfairDisplay;
						font-size: 90px;

						letter-spacing: 10px;
					}

					.annotation {
						margin-top: 20px;

						width: 400px;
						font-family: Oswald;

						font-size: 15px;

						line-height: 30px;
					}
				}
			}
		}
	}
}

@media (max-height: 350px) {
	.section {
		.wrapper {
			.container {
				grid-template-columns: 1fr 3fr 1fr;

				.center {
					.type {
						font-family: Oswald;
						font-size: 12px;
					}
					.name {
						line-height: 50px;

						// margin-top: 0;
						font-family: PlayfairDisplay;
						font-size: 50px;

						letter-spacing: 10px;
					}

					.annotation {
						margin-top: 0px;

						width: 250px;
						font-family: Oswald;

						font-size: 14px;

						line-height: 16px;
					}
				}
			}
		}
	}
}

@media (max-width: 600px) {
	.section {
		.wrapper {
			.container {
				grid-template-columns: 1fr 3fr 1fr;

				.center {
					.type {
						display: none;
					}
					.name {
						font-size: 40px;
						display: none;
					}
					.line {
						display: none;
					}
					.annotation {
						display: none;
					}
				}
			}
		}
	}
}
