@use "../../variables.scss" as *;

.section {
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	margin-top: 400px;
	min-height: 40vh;
	user-select: none;

	.wrapper {
		width: 100%;
		max-width: $website-maxWidth;

		background-color: black;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		color: white;

		.container {
			border-top: 1px solid white;
			width: 100%;
			display: flex;
			justify-content: space-between;
			font-family: Gilroy;
			padding-top: 20px;
			height: 100%;

			.left {
				display: flex;
				flex-direction: column;
				gap: 10px;
				.home {
					font-size: 24px;
					color: rgb(235, 235, 235);

					text-decoration: none;
					display: block;
					position: relative;
					padding: 0.2em 0;
					width: fit-content;
					cursor: pointer;
					margin-bottom: 20px;
				}
				.articles {
					font-size: 22px;
					padding-bottom: 10px;
				}
				.article {
					font-size: 19px;
					color: rgb(235, 235, 235);

					text-decoration: none;
					display: block;
					position: relative;
					padding: 0.2em 0;
					width: fit-content;
					cursor: pointer;
				}
				.article::after {
					content: "";
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 0.1em;
					background-color: rgb(150, 150, 150);
					opacity: 0;
					transition: opacity 300ms, transform 300ms;
				}

				.article:hover::after,
				.article:focus::after {
					opacity: 1;
					transform: translate3d(0, 0.2em, 0);
				}
			}

			.right {
				display: flex;
				flex-direction: column;
				align-items: flex-end;
				gap: 15px;

				.wrap {
					gap: 20px;
					display: flex;

					.link {
						font-size: 16px;
						font-weight: 300;
						cursor: pointer;
					}
				}
				.about {
					font-size: 16px;
					font-weight: 300;
					color: rgb(219, 219, 219);
					cursor: pointer;
				}
			}
		}
	}
}
